footer.footer 
    .footer_logo 
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav 
        li: a(herf='#') about us
        li: a(herf='#') Download App
        li: a(herf='#') Become a Guide
        li: a(herf='#') Careers
        li: a(herf='#') Contact
    p.footer_copyright &copy; by Juan Daniel Guzman Reyes / Taught by Jonas jonas Schmedtmann

